
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DownloadSuccess</title>
</head>
<body>
    <div>
        <p><h2>Descarga exitosa</h2></p>
        <p>@Html.ActionLink("Regresar a menu principal", "Menu")</p>
    </div>
</body>
</html>
