@model string
@{
    ViewBag.Title = "Index";

}
<h2> Seleccione una opción como llave para el árbol </h2>
@{
    var listado = new List<SelectListItem>()
{
new SelectListItem()
{
Text = "Fecha de partido",
Value = "FechaPartido",
},

new SelectListItem ()
{
Text = "Número de partido",
Value = "NumeroPartido",
}
};

}
<br />


<form action="Menu" method="get">
    Seleccione <select name="comboBox" @Html.DropDownList("DropDownList", listado) />

    <div>
       @Html.ActionLink("Menu", "Menu")
    </div>
</form>


