@model string
@{
    ViewBag.Title = "Index";

}
<h2> Seleccione una opción como llave para el árbol </h2>
@{
    var listado = new List<SelectListItem>()
{
new SelectListItem()
{
Text = "Fecha de partido",
Value = "FechaPartido",
},

new SelectListItem ()
{
Text = "Número de partido",
Value = "NumeroPartido",
}
};

}
<br />


<form action="Menu" method="get">
    Seleccione <select name="comboBox" @Html.DropDownList("DropDownList", listado) />

    <div>
        <input type="submit" value="Menu" class="btn btn-default" /> |    @Html.ActionLink("Back to Menu", "Menu")
    </div>
</form>
\
<form action="Menu" method="get">
    Seleccione: <select name="comboBox" @Html.DropDownList("DropDownList", listado) />

    <div>
        @using (Html.BeginForm("Menu", "Partido"))
        {
            <input type="submit" value="Ok" />
        }
        @*@Html.ActionLink("Menu", "Menu")*@

    </div>

</form>

