@model string
@{
    ViewBag.Title = "Index";

}
<h2> Seleccione una opción como llave para el árbol </h2>
@{
    var listado = new List<SelectListItem>()
{
new SelectListItem()
{
Text = "Fecha de partido",
Value = "FECHA",
},

new SelectListItem ()
{
Text = "Número de partido",
Value = "NUMERO",
}
};

}
<br />

<form action="Menu" method="POST">
    Seleccione: @Html.DropDownList("DropDownList", listado)

    <div class="form-actions no-color">
        <input type="submit" value="OK" class="btn btn-default" />
    </div>
</form>


