@model LAB3_1252016_1053016.Models.Partido

@{
    ViewBag.Title = "CargaManualPartido";
}

<h2>El partido ha sido guardado</h2>
@Html.ActionLink("Crear", "InsertarManual")|

@Html.ActionLink("Back to menu", "Index")


