
@{
    Layout = null;
}

<form action="Search" method="POST">
    Dato a buscar: <input id="value" name="searching" type="text" value="" />  

    <div>
        <input type="submit" value="Search" class="btn btn-default" /> |    @Html.ActionLink("Back to Menu", "Menu")
    </div>
</form>
